{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloremque quo, natus odit ipsam soluta, delectus consequatur officiis voluptatum fugiat, dolores tempora temporibus facere debitis quis quia. Voluptatum laboriosam beatae eius, explicabo necessitatibus neque quas inventore deleniti quos exercitationem. Fugiat quia voluptatibus ad quidem minima non illo consequatur optio, vero sequi a. Iste beatae sapiente nulla dolores pariatur, unde eius at debitis ex tempora saepe eum atque sed omnis, asperiores impedit natus itaque illo maiores! Libero facilis ipsum, tempora, voluptatibus cum consequuntur enim quae eaque dolor recusandae rem dolorem iusto natus laborum officiis harum quaerat eum beatae porro cupiditate quos!
        
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signup"> Signup</a>
            <a class="btn btn-primary" href="/signin"> Login</a>
        </div>
        
    </section>
</main>

{% endblock %}
