{% extends 'base.html' %}

{% block content %}
<div class="main container">
    <div class="row ">
        <div class="col-md-6 offset-md-3 py-5">
            <h1 class="text-secondary text-center display-3 mb-5">Task Detail</h1>
            {{error}}

           
                <form method="POST" class="card card-body">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-lg btn-outline-success "> Actualizar</button>
  
                </form>

                <form class="card card-body " action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-lg btn-outline-primary">  Complete</button>
                </form>
            
                <form class="card card-body "  action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-lg btn-outline-danger"> Delete</button>
                </form>
                 

      
                
        </div>
    </div>
</div>

{% endblock %}