{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">tasks Pending</h1>

               
                    {% for task in tasks %}
                    <a style = "text-decoration: none" class="card bg-secondary mt-2 fw-bold text-white" href = "{% url 'task_detail' task.id %}">
                     
                       
                            {% if task.important %}
                                <h1 class="card-header display-6"> Titulo: <strong class="text-light">{{task.title  }}</strong> </h1>   
                            {% else %}
                            <h1 class="card-header display-6"> Title <strong class="text-light">{{task.title  }}</strong> </h1>
                            {% endif%}
                            
                        <div class="card-body content-between">
                            <h3 class="card-text display-6">User <strong class="text-light">{{task.user.username}}</strong></h3>

                            <h3 class="card-text display-6">Description <strong class="text-light">{{task.description}}</strong> </h3>
                           
                            <h3 class="card-text display-6">Date <strong class="text-light">{{task.datecompleted|date:'M j Y:i'}}</strong>
                            </h3>
                        </div>
                            
                        
                       
                    </a>
                    
                    {% endfor %}
            
        </div>
    </div>
</main>
{% endblock %}